In [ ]:
# install necessary packages, if not readily available in underlying python installation 
!pip install xlsxwriter

In [ ]:
#import necessary packages 
import pyodbc 
import pandas as pd
import getpass
from datetime import datetime, timezone
from enum import IntEnum
from datetime import date, datetime, timedelta, timezone
import sys
import math
import xlsxwriter
import numpy as np
import mssqlprofilerpython
#import mypy
#import mssqlprofilerpython2

In [ ]:
#Connect to the data base: Change values as per requirment 
connection_string = 'Server=tcp:bbyc-sqlsv-prod-database-stg-005.database.windows.net,1433;Initial Catalog=bbyc-sqldb-imidiapf-stg-001;Persist Security Info=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;'

# Replace 'your_username' and 'your_password' with your actual AD username and password
ad_username = 'arbanerj@bbyfs.ca' #change it to your username 
ad_password = getpass.getpass() #this will ask for your password

modified_connection_string = f'DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={connection_string.split(";")[0].split("=")[1]};DATABASE={connection_string.split(";")[1].split("=")[1]};Authentication=ActiveDirectoryPassword;UID={ad_username};PWD={ad_password};'

# Establish the connection
connection = pyodbc.connect(modified_connection_string)
print('connected ...')

In [ ]:
# this is a helper function which is to get this system's date time 
def getDateTimeAsString():

  now = datetime.now(timezone.utc)
  # Convert to local timezone for display
  local_time = now.astimezone()
  date_time_string = local_time.strftime("%Y-%m-%d %H:%M:%S%z")
  return date_time_string

# Print the current date and time with timezone
print(getDateTimeAsString())

In [ ]:
#DataSet Summary Report generation 
# Below are the parameters to deliver to the class.Chnage it as per requirments 

da_params = {
            'SYSTEM_NAME': 'Account Addresses', # CHANGE THIS ONE AS PER REQUIRMENT
            'DATABASE_NAME': 'bbyc-sqldb-imidiapf-stg-001', # CHANGE THIS ONE AS PER REQUIRMENT
            'SCHEMA_NAME': 'membership',  # CHANGE THIS ONE AS PER REQUIRMENT
            'TABLE_NAME': 'address',  # CHANGE THIS ONE AS PER REQUIRMENT
            'PROVIDED_BY': 'N/A',  # CHANGE THIS ONE AS PER REQUIRMENT
            'CONTENT': 'Account Addresses Data',  # CHANGE THIS ONE AS PER REQUIRMENT
            'NOTES': 'utf-8',  # CHANGE THIS ONE AS PER REQUIRMENT
            'META_DATA_PRESENT': 'Y',  # CHANGE THIS ONE AS PER REQUIRMENT
            'FILE_PATH': 'C:\\Users\\arbanerj_a\\membership_address',  # This is the path where your data set summary will get saved, consider this one as 
            # a path, where intermediate csv will get saved. For best practice create a folder in your current directory with the table name.  
            'WHO': 'Arpan Banerjee', # CHANGE THIS ONE AS PER REQUIRMENT
            'WHEN': getDateTimeAsString(), # it is remote desktop  date time 
            'WHERE': 'Kolkata-IN', # CHANGE THIS ONE AS PER REQUIRMENT
            'HOW': 'Python pyodbc connector',
            'FILTER': "No filter has been applied"
}

In [ ]:
# run for data set summary report 
datasetSummary =mssqlprofilerpython.DatasetSummary(connection, da_params)
datasetSummary.getSummary()

In [ ]:
# Attribute Summary and Attribute detail report generation  Report
# Below are the parameters to deliver to the class.Chnage it as per requirments 
attr_params = {
            'DATABASE_NAME': 'bbyc-sqldb-imidiapf-stg-001', # CHANGE THIS ONE AS PER REQUIRMENT
            'SCHEMA_NAME': 'membership',  # CHANGE THIS ONE AS PER REQUIRMENT
            'TABLE_NAME': 'address',  # CHANGE THIS ONE AS PER REQUIRMENT
            'FILE_PATH': 'C:\\Users\\arbanerj_a\\membership_address',  # This is the path where your data set summary will get saved, consider this one as 
            # a path, where intermediate csv will get saved. For best practice create a folder in your current directory with the table name.
            'WHEN':  getDateTimeAsString(),
            'FILTER': "no filter has been applied"

}

In [ ]:
# run for attribute summary and detail report 
attributesummary= mssqlprofilerpython.AttributeSummary(connection, attr_params)
attributesummary.saveResultToCSV()

In [ ]:
# create separate list of columns for date and non date attribute as well as a list of all atrribute. 
# manualy adjust the location of previously created file attribute_summary 
import csv

def read_date_column(filename, filter_column, filter_values, target_column):

  date_values = []
  non_date_values =[]
  with open(filename, 'r', newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
      if row[filter_column] in filter_values:
        date_values.append(row[target_column])
      else: 
        non_date_values.append(row[target_column])
     
  
  return date_values,non_date_values 

# donot forget to change the file name with the file path where we are palcing all our csv file with the attribute summary file name. 
filename = "C:\\Users\\arbanerj_a\\membership_address\\bbyc-sqldb-imidiapf-stg-001_membership_address_ATTRIBUTE_SUMMARY.csv"
filter_column = "DATA TYPE"
filter_values = ["date", "datetime"]
target_column = "COLUMN NAME"

date_columns, non_date_columns = read_date_column(filename, filter_column, filter_values, target_column)
complete_column_lst = date_columns + non_date_columns
print(date_columns)
print(non_date_columns)
print(complete_column_lst)

In [ ]:
### HISTOGRAM GENERATION FOR DATE COLUMN
### update values carefully 
### This will genearte monthly quarterly, yearly for specified time frame 
#bring

monthly_params ={
    'PERIOD_TYPE': mssqlprofilerpython.PeriodType.MONTHLY, # keep it as it is 
    'NUMBER_OF_THE_PERIOD': None,# keep it as it is 
    'START_DATE': '2004-09-29', # CHANGE THIS ONE AS PER REQUIRMENT,
    #CHECK THE MINIMUM DATE FROM date and datetime attributes from the saved ATTRIBUTE DETAIL AND TAKE DECISSION ON IT 
    'DATABASE_NAME': 'bbyc-sqldb-imidiapf-stg-001', # CHANGE THIS ONE AS PER REQUIRMENT
    'SCHEMA_NAME': 'membership', # CHANGE THIS ONE AS PER REQUIRMENT
    'TABLE_NAME': 'address', # CHANGE THIS ONE AS PER REQUIRMENT
    'COLUMN_NAME': 'MEMBERSHIP_START_DATE', # CHANGE THIS ONE AS PER REQUIRMENT
    'FILE_PATH': 'C:\\Users\\arbanerj_a\\membership_address', # CHANGE THIS ONE AS PER REQUIRMENT
    'WHEN': getDateTimeAsString(), # CHANGE THIS ONE AS PER REQUIRMENT
    'FILTER': "No filter has been applied"  # CHANGE THIS ONE AS PER REQUIRMENT
}
quarterly_params ={
    'PERIOD_TYPE': mssqlprofilerpython.PeriodType.QUARTERLY, # keep it as it is 
    'NUMBER_OF_THE_PERIOD': None, # keep it as it is 
    'START_DATE': '2004-09-29', # CHANGE THIS ONE AS PER REQUIRMENT,
     #CHECK THE MINIMUM DATE FROM date and datetime attributes from the saved ATTRIBUTE DETAIL AND TAKE DECISSION ON IT 
    'DATABASE_NAME': 'bbyc-sqldb-imidiapf-stg-001', # CHANGE THIS ONE AS PER REQUIRMENT
    'SCHEMA_NAME': 'membership', # CHANGE THIS ONE AS PER REQUIRMENT
    'TABLE_NAME': 'address', # CHANGE THIS ONE AS PER REQUIRMENT
    'COLUMN_NAME': 'MEMBERSHIP_START_DATE', # CHANGE THIS ONE AS PER REQUIRMENT
    'FILE_PATH': 'C:\\Users\\arbanerj_a\\membership_address', # This is the path where your data set summary will get saved, consider this one as 
    # a path, where intermediate csv will get saved. For best practice create a folder in your current directory with the table name.
    'WHEN': getDateTimeAsString(), # CHANGE THIS ONE AS PER REQUIRMENT
    'FILTER': "No filter has been applied"  # CHANGE THIS ONE AS PER REQUIRMENT
}
yearly_params ={
    'PERIOD_TYPE': mssqlprofilerpython.PeriodType.YEARLY, # keep it as it is 
    'NUMBER_OF_THE_PERIOD': None, # keep it as it is  # CHANGE THIS ONE AS PER REQUIRMENT,
    'START_DATE': '2004-09-29', # CHANGE THIS ONE AS PER REQUIRMENT,
     #CHECK THE MINIMUM DATE FROM date and datetime attributes from the saved ATTRIBUTE DETAIL AND TAKE DECISSION ON IT     'DATABASE_NAME': 'bbyc-sqldb-imidiapf-stg-001', # CHANGE THIS ONE AS PER REQUIRMENT
    'DATABASE_NAME': 'bbyc-sqldb-imidiapf-stg-001', # CHANGE THIS ONE AS PER REQUIRMENT
    'SCHEMA_NAME': 'membership', # CHANGE THIS ONE AS PER REQUIRMENT
    'TABLE_NAME': 'address', # CHANGE THIS ONE AS PER REQUIRMENT
    'COLUMN_NAME': 'MEMBERSHIP_START_DATE', # CHANGE THIS ONE AS PER REQUIRMENT
    'FILE_PATH': 'C:\\Users\\arbanerj_a\\membership_address', # This is the path where your data set summary will get saved, consider this one as 
    # a path, where intermediate csv will get saved. For best practice create a folder in your current directory with the table name.    'WHEN': getDateTimeAsString(), # CHANGE THIS ONE AS PER REQUIRMENT
    'WHEN': getDateTimeAsString(), # CHANGE THIS ONE AS PER REQUIRMENT
    'FILTER': "No filter has been applied"  # CHANGE THIS ONE AS PER REQUIRMENT
}

In [ ]:
# run histogram 

for item in date_columns:
  new_column = {'COLUMN_NAME': item}
  monthly_params.update(new_column)
  quarterly_params.update(new_column)
  yearly_params.update(new_column)
  month_wise_distribution =  mssqlprofilerpython.HistogramGeneration(connection,monthly_params)
  month_wise_distribution.saveResultToCSV()

  quarter_wise_distribution =  mssqlprofilerpython.HistogramGeneration(connection,quarterly_params)
  quarter_wise_distribution.saveResultToCSV()

  year_wise_distribution =  mssqlprofilerpython.HistogramGeneration(connection,yearly_params)
  year_wise_distribution.saveResultToCSV()

In [ ]:
#Histogram enhancer 
#chnage parameter carefully 
enhancer_params = {

    'COLUMNS': date_columns,
    'START_YEAR': 2004, # CHANGE THIS ONE AS PER REQUIRMENT, SAME CHANGES REQUIRED WHERE THE MINIMUM DATE 
    # change this Start_year  as the minimum date you recived from attribute detail csv. 
    'START_MONTH': 1 , # CHANGE THIS ONE AS PER REQUIRMENT
    'YEARS_TO_COVER': 21, # CHANGE THIS ONE AS PER REQUIRMENT
    #'PROFILE_DATE': '2023-03-10', # CHANGE THIS ONE AS PER REQUIRMENT
    'FILE_PATH': 'C:\\Users\\arbanerj_a\\membership_address', # This is the path where your data set summary will get saved, consider this one as 
    # a path, where intermediate csv will get saved. For best practice create a folder in your current directory with the table name.    
    'DATABASE_NAME': 'bbyc-sqldb-imidiapf-stg-001', # CHANGE THIS ONE AS PER REQUIRMENT
    'SCHEMA_NAME': 'membership',  # CHANGE THIS ONE AS PER REQUIRMENT
    'TABLE_NAME': 'address' # CHANGE THIS ONE AS PER REQUIRMENT

}

In [ ]:
# call the histogram enhancer 
enahncer =mssqlprofilerpython.HistogramEnhancer(enhancer_params)
enahncer.caller()

In [ ]:
# Generate distribution report for date attributes 
# change below parameters carefully 
date_distributionparams = {
            'DATABASE_NAME': 'bbyc-sqldb-imidiapf-stg-001', # CHANGE THIS ONE AS PER REQUIRMENT
            'SCHEMA_NAME': 'membership',  # CHANGE THIS ONE AS PER REQUIRMENT
            'TABLE_NAME': 'address',  # CHANGE THIS ONE AS PER REQUIRMENT
            'COLUMN_LIST': date_columns, #coming from previous helper function
            'FILE_PATH': 'C:\\Users\\arbanerj_a\\membership_address', # This is the path where your data set summary will get saved, consider this one as 
             # a path, where intermediate csv will get saved. For best practice create a folder in your current directory with the table name.    
            'WHEN': getDateTimeAsString(),
            'FILTER': f"No filter has been applied"  # CHANGE THIS ONE AS PER REQUIRMENT

}

In [ ]:
# run the distribution report for date attributes 
groupbycount=mssqlprofilerpython.DateDimensionalFrquencey(connection,date_distributionparams)
groupbycount.loopAndCount()

In [ ]:
# Generate distribution report for non date attributes 
# change below parameters carefully 
non_date_distributionparams = {
            'DATABASE_NAME': 'bbyc-sqldb-imidiapf-stg-001', # CHANGE THIS ONE AS PER REQUIRMENT
            'SCHEMA_NAME': 'membership',  # CHANGE THIS ONE AS PER REQUIRMENT
            'TABLE_NAME': 'address',  # CHANGE THIS ONE AS PER REQUIRMENT
            'COLUMN_LIST': non_date_columns, #coming from previous helper function
            'FILE_PATH': 'C:\\Users\\arbanerj_a\\membership_address', # This is the path where your data set summary will get saved, consider this one as 
             # a path, where intermediate csv will get saved. For best practice create a folder in your current directory with the table name.    
            'WHEN': getDateTimeAsString(),
            'FILTER': f"No filter has been applied"  # CHANGE THIS ONE AS PER REQUIRMENT

}

In [ ]:
# run the distribution report for date attributes 
groupbycount=mssqlprofilerpython.DimensionalFrquencey(connection,non_date_distributionparams)
groupbycount.loopAndCount()

In [1]:
# Generate the excel report by combining csv files 
#chnage the parameters carefully 
complete_column_lst =['created_date', 'updated_date', 'address_id', 'address_line_1', 'address_line_2', 'city', 'country_code', 'country_name', 'created_by', 'phone_number', 'postal_code', 'region_code', 'region_name', 'suite', 'updated_by', 'address_type_id', 'membership_id']
csv2excel_params = {
            'SOURCE_FOLDER': 'C:\\Users\\arbanerj_a\\membership_address', # CHANGE THIS ONE AS PER REQUIRMENT
            # Source folder is the folder where we have saved all intermediate csv reports  
            'DESTINATION_FOLDER': 'C:\\Users\\arbanerj_a\\membership_address\\Report', # CHANGE THIS ONE AS PER REQUIRMENT
            #Destination is the  folder  where we will save the excel output 
            'DATABASE_NAME': 'bbyc-sqldb-imidiapf-stg-001', # CHANGE THIS ONE AS PER REQUIRMENT
            'SCHEMA_NAME': 'membership',  # CHANGE THIS ONE AS PER REQUIRMENT
            'TABLE_NAME': 'address',  # CHANGE THIS ONE AS PER REQUIRMENT
            'COLUMNS': complete_column_lst, # CHANGE THIS ONE AS PER REQUIRMENT
            'DATE': '2024-03-18',  # CHANGE THIS ONE AS PER REQUIRMENT
             # put it as todayas date yyyy-mm-dd
            'START_ROW_FOR_DISTINCT': 22 , # CHANGE THIS ONE AS PER REQUIRMENT
            'TOP_DISTINCT': 21 ,  # CHANGE THIS ONE AS PER REQUIRMENT
            'YEARS_TO_BE_COVERED': 10 # change this one to change your histigram behaviour 
}

In [2]:
import mysqlpy

ce = mysqlpy.CsvToExcel(csv2excel_params)
ce.startConverting()

column name:  address_id
replacing value...........................................
after grp by
    VALUE  COUNT       %
0   14104      1  0.0002
1    1819      1  0.0002
18   6893      1  0.0002
17   6777      1  0.0002
16  66360      1  0.0002
15  65577      1  0.0002
14  65164      1  0.0002
13  60154      1  0.0002
12  59761      1  0.0002
11  56345      1  0.0002
10  52889      1  0.0002
9   51540      1  0.0002
8   46498      1  0.0002
7   40091      1  0.0002
6   33003      1  0.0002
5   27653      1  0.0002
4   26025      1  0.0002
3   22704      1  0.0002
2   19076      1  0.0002
19     80      1  0.0002
2nd time:     VALUE  COUNT       %
0   14104      1  0.0002
1    1819      1  0.0002
18   6893      1  0.0002
17   6777      1  0.0002
16  66360      1  0.0002
15  65577      1  0.0002
14  65164      1  0.0002
13  60154      1  0.0002
12  59761      1  0.0002
11  56345      1  0.0002
10  52889      1  0.0002
9   51540      1  0.0002
8   46498      1  0.0002
7   40091      1  0.0002
6   33003      1  0.0002
5   27653      1  0.0002
4   26025      1  0.0002
3   22704      1  0.0002
2   19076      1  0.0002
19     80      1  0.0002
0    None     20  0.0040
sheet name in linechart : address_id
chart has been prepared
column name:  address_line_1
replacing value...........................................
after grp by
                            VALUE  COUNT       %
16                             NA  17824  3.3105
12                             //   5479  1.0176
7                              NA   2363  0.4389
15                            N/A   1556  0.2890
11                              /   1341  0.2491
13                            123   1180  0.2192
19                             XX    920  0.1709
0                              NA    915  0.1699
1                              //    699  0.1298
9                              --    599  0.1113
18                              X    512  0.0951
10                              .    431  0.0800
6           8871 BOUL DE L'ACADIE    359  0.0667
8                               -    356  0.0661
5        7400 BOUL. DES ROSERAIES    345  0.0641
3               2100 PARK ROYAL S    345  0.0641
14              2100 PARK ROYAL S    344  0.0639
4    25 PEEL CENTRE DR., UNIT 451    330  0.0613
2        20202 66TH AVE., UNIT F3    304  0.0565
17                      NULL NULL    294  0.0546
2nd time:                             VALUE  COUNT       %
16                             NA  17824  3.3105
12                             //   5479  1.0176
7                              NA   2363  0.4389
15                            N/A   1556  0.2890
11                              /   1341  0.2491
13                            123   1180  0.2192
19                             XX    920  0.1709
0                              NA    915  0.1699
1                              //    699  0.1298
9                              --    599  0.1113
18                              X    512  0.0951
10                              .    431  0.0800
6           8871 BOUL DE L'ACADIE    359  0.0667
8                               -    356  0.0661
5        7400 BOUL. DES ROSERAIES    345  0.0641
3               2100 PARK ROYAL S    345  0.0641
14              2100 PARK ROYAL S    344  0.0639
4    25 PEEL CENTRE DR., UNIT 451    330  0.0613
2        20202 66TH AVE., UNIT F3    304  0.0565
17                      NULL NULL    294  0.0546
0                            None  36496  6.7786
sheet name in linechart : address_line_1
chart has been prepared
column name:  address_line_2
replacing value...........................................
after grp by
                       VALUE   COUNT        %
12             BLANK OR NULL  537814  99.8884
2                        307       4   0.0007
3                          4       4   0.0007
0                          1       3   0.0006
1                        301       3   0.0006
17                   UNIT 38       3   0.0006
16                   UNIT 10       3   0.0006
15                       RR3       3   0.0006
14                      RR 2       3   0.0006
18                   UNIT 51       3   0.0006
7                    APT 203       3   0.0006
5   6677 Test Address Line 2       3   0.0006
4       5111 NORTHLAND DR NW       3   0.0006
10                     APT 4       2   0.0004
11                   APT 604       2   0.0004
8                    APT 205       2   0.0004
13                PO BOX 469       2   0.0004
6                   APT 1006       2   0.0004
9                    APT 307       2   0.0004
2nd time:                        VALUE   COUNT        %
12             BLANK OR NULL  537814  99.8884
2                        307       4   0.0007
3                          4       4   0.0007
0                          1       3   0.0006
1                        301       3   0.0006
17                   UNIT 38       3   0.0006
16                   UNIT 10       3   0.0006
15                       RR3       3   0.0006
14                      RR 2       3   0.0006
18                   UNIT 51       3   0.0006
7                    APT 203       3   0.0006
5   6677 Test Address Line 2       3   0.0006
4       5111 NORTHLAND DR NW       3   0.0006
10                     APT 4       2   0.0004
11                   APT 604       2   0.0004
8                    APT 205       2   0.0004
13                PO BOX 469       2   0.0004
6                   APT 1006       2   0.0004
9                    APT 307       2   0.0004
0                       None  537864  99.8982
sheet name in linechart : address_line_2
chart has been prepared
column name:  city
replacing value...........................................
after grp by
           VALUE  COUNT       %
15       Toronto  24679  4.5836
1        CALGARY  24103  4.4767
8      MONTREAL   20173  3.7467
2       Edmonton  18614  3.4572
14      SURREY    12286  2.2819
0       Brampton  11733  2.1792
10        Ottawa   9935  1.8452
19      WINNIPEG   9064  1.6835
17    VANCOUVER    8711  1.6179
9             NA   7271  1.3504
11       QUEBEC    6868  1.2756
6         LONDON   6112  1.1352
5         LAVAL    6097  1.1324
7   MISSISSAUGA    6075  1.1283
3      GATINEAU    5514  1.0241
18      VICTORIA   5486  1.0189
13   SCARBOROUGH   4872  0.9049
4      HAMILTON    4431  0.8230
12      Richmond   4408  0.8187
16      VANCOUVE   4400  0.8172
2nd time:            VALUE   COUNT        %
15       Toronto   24679   4.5836
1        CALGARY   24103   4.4767
8      MONTREAL    20173   3.7467
2       Edmonton   18614   3.4572
14      SURREY     12286   2.2819
0       Brampton   11733   2.1792
10        Ottawa    9935   1.8452
19      WINNIPEG    9064   1.6835
17    VANCOUVER     8711   1.6179
9             NA    7271   1.3504
11       QUEBEC     6868   1.2756
6         LONDON    6112   1.1352
5         LAVAL     6097   1.1324
7   MISSISSAUGA     6075   1.1283
3      GATINEAU     5514   1.0241
18      VICTORIA    5486   1.0189
13   SCARBOROUGH    4872   0.9049
4      HAMILTON     4431   0.8230
12      Richmond    4408   0.8187
16      VANCOUVE    4400   0.8172
0           None  200832  37.3006
sheet name in linechart : city
chart has been prepared
column name:  country_code
replacing value...........................................
after grp by
  VALUE   COUNT        %
0    CA  538366  99.9909
1    US      49   0.0091
2nd time:   VALUE   COUNT         %
0    CA  538366   99.9909
1    US      49    0.0091
0  None  538415  100.0000
sheet name in linechart : country_code
chart has been prepared
column name:  country_name
replacing value...........................................
after grp by
           VALUE   COUNT        %
0         CANADA  538363  99.9903
2  United States      49   0.0091
1       Cana//da       3   0.0006
2nd time:            VALUE   COUNT         %
0         CANADA  538363   99.9903
2  United States      49    0.0091
1       Cana//da       3    0.0006
0           None  538415  100.0000
sheet name in linechart : country_name
chart has been prepared
column name:  created_by
replacing value...........................................
after grp by
                        VALUE   COUNT        %
1                 Intial_load  450777  83.7230
2  accountSubscriptionAdapter   87538  16.2585
0             DATA_GEN_SCRIPT     100   0.0186
2nd time:                         VALUE   COUNT         %
1                 Intial_load  450777   83.7230
2  accountSubscriptionAdapter   87538   16.2585
0             DATA_GEN_SCRIPT     100    0.0186
0                        None  538415  100.0001
sheet name in linechart : created_by
chart has been prepared
column name:  created_date
20
sheet name in linechart : created_date
chart has been prepared
sheet name in linechart : created_date
chart has been prepared
sheet name in linechart : created_date
chart has been prepared
sheet name in linechart : created_date
chart has been prepared
column name:  phone_number
replacing value...........................................
after grp by
            VALUE  COUNT       %
19  BLANK OR NULL    369  0.0685
0      1111111111    100  0.0186
12     6046972680     41  0.0076
15     7787912056     17  0.0032
8      5147872990     17  0.0032
18     8662378289     14  0.0026
13     6138622605      7  0.0013
7      5147784255      7  0.0013
1      4167105543      7  0.0013
10     5149475582      6  0.0011
9      5148148926      6  0.0011
14     6476476477      6  0.0011
17     7788752210      5  0.0009
2      4388823381      5  0.0009
6      5146054491      5  0.0009
5      5142780053      5  0.0009
4      5142749358      5  0.0009
11     6045576773      5  0.0009
3      4389942220      4  0.0007
16     7788656118      4  0.0007
2nd time:             VALUE  COUNT       %
19  BLANK OR NULL    369  0.0685
0      1111111111    100  0.0186
12     6046972680     41  0.0076
15     7787912056     17  0.0032
8      5147872990     17  0.0032
18     8662378289     14  0.0026
13     6138622605      7  0.0013
7      5147784255      7  0.0013
1      4167105543      7  0.0013
10     5149475582      6  0.0011
9      5148148926      6  0.0011
14     6476476477      6  0.0011
17     7788752210      5  0.0009
2      4388823381      5  0.0009
6      5146054491      5  0.0009
5      5142780053      5  0.0009
4      5142749358      5  0.0009
11     6045576773      5  0.0009
3      4389942220      4  0.0007
16     7788656118      4  0.0007
0            None    635  0.1177
sheet name in linechart : phone_number
chart has been prepared
column name:  postal_code
replacing value...........................................
after grp by
     VALUE  COUNT       %
0   H1M2T5   2573  0.4779
4   K1V1C1   2474  0.4595
17  V6J1Y1   1630  0.3027
8   M5G2C3   1595  0.2962
11  T2L2J8   1382  0.2567
19  V7T2W4   1161  0.2156
14  V2Y1P3   1074  0.1995
5   L6H7E5   1026  0.1906
9   M9C1A7    995  0.1848
13  T6N1M4    920  0.1709
16  V5Z2T7    906  0.1683
12  T5S2S1    894  0.1660
18  V6X2X9    879  0.1633
2   H8N1X1    876  0.1627
1   H7S1Y8    866  0.1608
15  V3B5R5    866  0.1608
7   M4G4K1    863  0.1603
3   H9R1C4    861  0.1599
6   L7P5C6    860  0.1597
10  N8W3T6    851  0.1581
2nd time:      VALUE  COUNT       %
0   H1M2T5   2573  0.4779
4   K1V1C1   2474  0.4595
17  V6J1Y1   1630  0.3027
8   M5G2C3   1595  0.2962
11  T2L2J8   1382  0.2567
19  V7T2W4   1161  0.2156
14  V2Y1P3   1074  0.1995
5   L6H7E5   1026  0.1906
9   M9C1A7    995  0.1848
13  T6N1M4    920  0.1709
16  V5Z2T7    906  0.1683
12  T5S2S1    894  0.1660
18  V6X2X9    879  0.1633
2   H8N1X1    876  0.1627
1   H7S1Y8    866  0.1608
15  V3B5R5    866  0.1608
7   M4G4K1    863  0.1603
3   H9R1C4    861  0.1599
6   L7P5C6    860  0.1597
10  N8W3T6    851  0.1581
0     None  23552  4.3743
sheet name in linechart : postal_code
chart has been prepared
column name:  region_code
replacing value...........................................
after grp by
   VALUE   COUNT        %
12    ON  217492  40.3949
14    QC  107169  19.9045
2     BC   88466  16.4308
0     AB   70559  13.1049
16    SK   15209   2.8248
4     MB   13036   2.4212
8     NS   10597   1.9682
6     NB    8853   1.6443
7     NL    4682   0.8696
13    PE    2065   0.3835
9     NT     162   0.0301
10    NU      64   0.0119
17    YT      56   0.0104
11    NY       1   0.0002
1     AZ       1   0.0002
5     MI       1   0.0002
15    SD       1   0.0002
3     FL       1   0.0002
2nd time:    VALUE   COUNT         %
12    ON  217492   40.3949
14    QC  107169   19.9045
2     BC   88466   16.4308
0     AB   70559   13.1049
16    SK   15209    2.8248
4     MB   13036    2.4212
8     NS   10597    1.9682
6     NB    8853    1.6443
7     NL    4682    0.8696
13    PE    2065    0.3835
9     NT     162    0.0301
10    NU      64    0.0119
17    YT      56    0.0104
11    NY       1    0.0002
1     AZ       1    0.0002
5     MI       1    0.0002
15    SD       1    0.0002
3     FL       1    0.0002
0   None  538415  100.0001
sheet name in linechart : region_code
chart has been prepared
column name:  region_name
replacing value...........................................
after grp by
                        VALUE   COUNT        %
13                    Ontario  217492  40.3949
15                     Quebec  107167  19.9042
3            British Columbia   88464  16.4304
0                     Alberta   70559  13.1049
17               Saskatchewan   15209   2.8248
5                    Manitoba   13036   2.4212
11                Nova Scotia   10597   1.9682
7               New Brunswick    8853   1.6443
9   Newfoundland and Labrador    4682   0.8696
14       Prince Edward Island    2065   0.3835
10      Northwest Territories     162   0.0301
12                    Nunavut      64   0.0119
19                      Yukon      56   0.0104
2               BLANK OR NULL       3   0.0006
1                     Arizona       1   0.0002
8                    New York       1   0.0002
6                    Michigan       1   0.0002
4                     Florida       1   0.0002
16                Quebec city       1   0.0002
18               South Dakota       1   0.0002
2nd time:                         VALUE   COUNT         %
13                    Ontario  217492   40.3949
15                     Quebec  107167   19.9042
3            British Columbia   88464   16.4304
0                     Alberta   70559   13.1049
17               Saskatchewan   15209    2.8248
5                    Manitoba   13036    2.4212
11                Nova Scotia   10597    1.9682
7               New Brunswick    8853    1.6443
9   Newfoundland and Labrador    4682    0.8696
14       Prince Edward Island    2065    0.3835
10      Northwest Territories     162    0.0301
12                    Nunavut      64    0.0119
19                      Yukon      56    0.0104
2               BLANK OR NULL       3    0.0006
1                     Arizona       1    0.0002
8                    New York       1    0.0002
6                    Michigan       1    0.0002
4                     Florida       1    0.0002
16                Quebec city       1    0.0002
18               South Dakota       1    0.0002
0                        None  538415  100.0002
sheet name in linechart : region_name
chart has been prepared
column name:  suite
replacing value...........................................
after grp by
           VALUE   COUNT        %
2  BLANK OR NULL  538293  99.9773
1            123     119   0.0221
0          12//3       3   0.0006
2nd time:            VALUE   COUNT         %
2  BLANK OR NULL  538293   99.9773
1            123     119    0.0221
0          12//3       3    0.0006
0           None  538415  100.0000
sheet name in linechart : suite
chart has been prepared
column name:  updated_by
replacing value...........................................
after grp by
                        VALUE   COUNT        %
1                 Intial_load  450777  83.7230
2  accountSubscriptionAdapter   87538  16.2585
0             DATA_GEN_SCRIPT     100   0.0186
2nd time:                         VALUE   COUNT         %
1                 Intial_load  450777   83.7230
2  accountSubscriptionAdapter   87538   16.2585
0             DATA_GEN_SCRIPT     100    0.0186
0                        None  538415  100.0001
sheet name in linechart : updated_by
chart has been prepared
column name:  updated_date
20
sheet name in linechart : updated_date
chart has been prepared
sheet name in linechart : updated_date
chart has been prepared
sheet name in linechart : updated_date
chart has been prepared
sheet name in linechart : updated_date
chart has been prepared
column name:  address_type_id
replacing value...........................................
after grp by
  VALUE   COUNT      %
0     1  538415  100.0
2nd time:   VALUE   COUNT      %
0     1  538415  100.0
0  None  538415  100.0
sheet name in linechart : address_type_id
chart has been prepared
column name:  membership_id
replacing value...........................................
after grp by
     VALUE  COUNT       %
0   202741      1  0.0002
1   231928      1  0.0002
18   84951      1  0.0002
17   82939      1  0.0002
16   51540      1  0.0002
15  444759      1  0.0002
14  443606      1  0.0002
13  436318      1  0.0002
12  420691      1  0.0002
11  396562      1  0.0002
10  372019      1  0.0002
9    33003      1  0.0002
8    32094      1  0.0002
7   304793      1  0.0002
6   295326      1  0.0002
5   291890      1  0.0002
4   282462      1  0.0002
3    27653      1  0.0002
2   262953      1  0.0002
19   91564      1  0.0002
2nd time:      VALUE  COUNT       %
0   202741      1  0.0002
1   231928      1  0.0002
18   84951      1  0.0002
17   82939      1  0.0002
16   51540      1  0.0002
15  444759      1  0.0002
14  443606      1  0.0002
13  436318      1  0.0002
12  420691      1  0.0002
11  396562      1  0.0002
10  372019      1  0.0002
9    33003      1  0.0002
8    32094      1  0.0002
7   304793      1  0.0002
6   295326      1  0.0002
5   291890      1  0.0002
4   282462      1  0.0002
3    27653      1  0.0002
2   262953      1  0.0002
19   91564      1  0.0002
0     None     20  0.0040
sheet name in linechart : membership_id
chart has been prepared
check this path C:\Users\arbanerj_a\membership_address\Report

In [ ]:
#close datbase connection 
connection.close()